html {
    font-size: 16px;
}

body {
    margin: 0;
    padding-top: 4rem;
    font-family: 'Roboto Mono', monospace;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    color: rgba(0, 0, 0, 0.9);
    overflow-y: scroll;
}

* {
    box-sizing: border-box;
}


/* 
    Nav 
*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    width: 100%;
    max-width: 64rem;
    margin: 0 auto;
    background: #fff;
    border-bottom: 0.25rem solid #000;
}

nav a {
    padding: 0 1rem;
    display: inline-block;
    float: left;
    color: #222;
    line-height: 4rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}


/* 
    Content 
 */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.wrap {
    max-width: 1024px;
    margin: 4rem auto;
    animation: fadeIn 0.3s;
}

.row {
    overflow: hidden;
    margin-bottom: 8rem;
}

.col {
    min-height: 4rem;
    float: left;
}

.col-25 {
    width: 25%;
}

.col-50 {
    width: 50%;
}

.col-100 {
    width: 100%;
}


/*
    Home
 */

#canvas {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
}

.home h3 {
    font-weight: normal;
    font-style: italic;
    line-height: 4rem;
    margin: 0;
}

.home p {
    margin-top: 0;
    margin-bottom: 2rem;
    line-height: 2rem;
}

.home ul {
    margin: 0;
    padding-left: 19px;
}

.home li {
    line-height: 2rem;
}

.home .portrait {
    line-height: 16px;
}

.home .ml {
    line-height: 4rem;
    letter-spacing: 0.1em;
}

/*
    Blogg
 */


/* List of posts */

ul#posts {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul#posts li {
    min-height: 2rem;
}

ul#posts li a {
    color: #222;
    display: block;
    text-decoration: none;
}

ul#posts li a:hover {
    text-decoration: underline;
}

#load_posts {
    width: 100%;
    height: 4rem;
    margin-top: 4rem;
    font-family: inherit;
    font-size: inherit;
    background: #fff;
    outline: none;
    cursor: pointer;
    border: 0.25rem solid #222;
}


/* 
    Article 
 */

#post {}

#post h1 {
    margin: 8rem 0;
    line-height: 4rem;
    font-size: 3rem;
    font-weight: 800;
    font-family: 'Asap', sans-serif;
}

#post .post-text {
    font-family: 'Georgia';
    font-family: 'PT Serif';
    max-width: 40rem;
    margin: 0 auto;
    /* Makes line-height 32px */
    font-size: 19.7775031px;
    line-height: 1.618em;
}

#post h2 {
    margin-top: 4rem;
    margin-bottom: 0rem;
    line-height: 4rem;
    font-size: 1.5rem;
    font-family: 'Asap', sans-serif;
}

#post h3 {
    margin-top: 4rem;
    margin-bottom: 0rem;
    line-height: 2rem;
    font-size: 19.7775031px;
    line-height: 1.618em;
}

#post p {
    margin-top: 0;
    margin-bottom: 2rem;
}

#post ul,
#post ol {
    margin: 2rem 0;
    padding-left: 4rem;
}


/* 
    Media 
 */

@media screen and (max-width: 64rem) {
    nav,
    .wrap {
        max-width: 48rem;
    }
}