/*
CONTENT
    - Variables
    - Mixins
    - Style
        - Body, html, *
        - Wraps & containers
        - Misc
        - Navigation
        - Text
        - Forms
        - Other elements
        - Page specific rules
 */
/*********
----------
Variables
----------
*********/
/*********
----------
Mixins
----------
*********/
/*****************************************************************************************
------------------------------------------------------------------------------------------
                                        Style
------------------------------------------------------------------------------------------
*****************************************************************************************/
/*********
::::::::::
Body, html, * 
::::::::::
*********/
html, input, button {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.618; }

body {
  overflow-y: scroll; }

* {
  box-sizing: border-box; }

/*********
::::::::::
Wraps & Containers
::::::::::
*********/
.wrap, nav {
  max-width: 768px;
  margin: 0 auto; }

.layout:before, .layout:after {
  content: "";
  display: table; }
.layout:after {
  clear: both; }
.layout > * {
  display: block;
  float: left; }
.layout .tenth, .layout ._10 {
  width: 10%; }
.layout .fifth, .layout ._20 {
  width: 20%; }
.layout .fourth, .layout ._25 {
  width: 25%; }
.layout .third, .layout ._33 {
  width: 33.33333%; }
.layout .half, .layout ._50 {
  width: 50%; }
.layout .two-thirds, .layout ._66 {
  width: 66.66667%; }
.layout .three-fourths, .layout ._75 {
  width: 75%; }
.layout .four-fifths, .layout ._80 {
  width: 80%; }
.layout .nine-tenths, .layout ._90 {
  width: 90%; }
.layout .full, .layout ._100 {
  width: 100%; }

/*********
::::::::::
Misc
::::::::::
*********/
::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-button:vertical:increment, ::-webkit-scrollbar-button:vertical:decrement {
  display: none; }

::-webkit-scrollbar-thumb {
  background-color: #e0e0e0; }

/*********
::::::::::
Navigation
::::::::::
*********/
/*********
::::::::::
Forms
::::::::::
*********/
/*********
::::::::::
Other elements
::::::::::
*********/
a {
  color: blue;
  text-decoration: none;
  text-shadow: 0.03em 0 white, -0.03em 0 white, 0 0.03em white, 0 -0.03em white, 0.06em 0 white, -0.06em 0 white, 0.09em 0 white, -0.09em 0 white, 0.12em 0 white, -0.12em 0 white, 0.15em 0 white, -0.15em 0 white;
  background-image: linear-gradient(white, white), linear-gradient(white, white), linear-gradient(blue, blue);
  background-size: .05em 1px, .05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 90%, 100% 90%, 0% 90%; }
  a::selection {
    text-shadow: 0.03em 0 blue, -0.03em 0 blue, 0 0.03em blue, 0 -0.03em blue, 0.06em 0 blue, -0.06em 0 blue, 0.09em 0 blue, -0.09em 0 blue, 0.12em 0 blue, -0.12em 0 blue, 0.15em 0 blue, -0.15em 0 blue;
    background-color: blue;
    color: #fff; }
  a::-moz-selection {
    text-shadow: 0.03em 0 blue, -0.03em 0 blue, 0 0.03em blue, 0 -0.03em blue, 0.06em 0 blue, -0.06em 0 blue, 0.09em 0 blue, -0.09em 0 blue, 0.12em 0 blue, -0.12em 0 blue, 0.15em 0 blue, -0.15em 0 blue;
    background-color: blue;
    color: #fff; }
  a:before, a:after, a *, a *:before, a *:after {
    text-shadow: none; }
  a:visited {
    color: black; }
  a:hover {
    color: red;
    text-decoration: none;
    text-shadow: 0.03em 0 white, -0.03em 0 white, 0 0.03em white, 0 -0.03em white, 0.06em 0 white, -0.06em 0 white, 0.09em 0 white, -0.09em 0 white, 0.12em 0 white, -0.12em 0 white, 0.15em 0 white, -0.15em 0 white;
    background-image: linear-gradient(white, white), linear-gradient(white, white), linear-gradient(red, red);
    background-size: .05em 1px, .05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: 0% 90%, 100% 90%, 0% 90%; }
    a:hover::selection {
      text-shadow: 0.03em 0 red, -0.03em 0 red, 0 0.03em red, 0 -0.03em red, 0.06em 0 red, -0.06em 0 red, 0.09em 0 red, -0.09em 0 red, 0.12em 0 red, -0.12em 0 red, 0.15em 0 red, -0.15em 0 red;
      background-color: red;
      color: #fff; }
    a:hover::-moz-selection {
      text-shadow: 0.03em 0 red, -0.03em 0 red, 0 0.03em red, 0 -0.03em red, 0.06em 0 red, -0.06em 0 red, 0.09em 0 red, -0.09em 0 red, 0.12em 0 red, -0.12em 0 red, 0.15em 0 red, -0.15em 0 red;
      background-color: red;
      color: #fff; }
    a:hover:before, a:hover:after, a:hover *, a:hover *:before, a:hover *:after {
      text-shadow: none; }

nav a {
  color: black;
  text-decoration: none;
  text-shadow: 0.03em 0 white, -0.03em 0 white, 0 0.03em white, 0 -0.03em white, 0.06em 0 white, -0.06em 0 white, 0.09em 0 white, -0.09em 0 white, 0.12em 0 white, -0.12em 0 white, 0.15em 0 white, -0.15em 0 white;
  background-image: linear-gradient(white, white), linear-gradient(white, white), linear-gradient(black, black);
  background-size: .05em 1px, .05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 90%, 100% 90%, 0% 90%; }
  nav a::selection {
    text-shadow: 0.03em 0 black, -0.03em 0 black, 0 0.03em black, 0 -0.03em black, 0.06em 0 black, -0.06em 0 black, 0.09em 0 black, -0.09em 0 black, 0.12em 0 black, -0.12em 0 black, 0.15em 0 black, -0.15em 0 black;
    background-color: black;
    color: #fff; }
  nav a::-moz-selection {
    text-shadow: 0.03em 0 black, -0.03em 0 black, 0 0.03em black, 0 -0.03em black, 0.06em 0 black, -0.06em 0 black, 0.09em 0 black, -0.09em 0 black, 0.12em 0 black, -0.12em 0 black, 0.15em 0 black, -0.15em 0 black;
    background-color: black;
    color: #fff; }
  nav a:before, nav a:after, nav a *, nav a *:before, nav a *:after {
    text-shadow: none; }
  nav a:hover {
    color: red;
    text-decoration: none;
    text-shadow: 0.03em 0 white, -0.03em 0 white, 0 0.03em white, 0 -0.03em white, 0.06em 0 white, -0.06em 0 white, 0.09em 0 white, -0.09em 0 white, 0.12em 0 white, -0.12em 0 white, 0.15em 0 white, -0.15em 0 white;
    background-image: linear-gradient(white, white), linear-gradient(white, white), linear-gradient(red, red);
    background-size: .05em 1px, .05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: 0% 90%, 100% 90%, 0% 90%; }
    nav a:hover::selection {
      text-shadow: 0.03em 0 red, -0.03em 0 red, 0 0.03em red, 0 -0.03em red, 0.06em 0 red, -0.06em 0 red, 0.09em 0 red, -0.09em 0 red, 0.12em 0 red, -0.12em 0 red, 0.15em 0 red, -0.15em 0 red;
      background-color: red;
      color: #fff; }
    nav a:hover::-moz-selection {
      text-shadow: 0.03em 0 red, -0.03em 0 red, 0 0.03em red, 0 -0.03em red, 0.06em 0 red, -0.06em 0 red, 0.09em 0 red, -0.09em 0 red, 0.12em 0 red, -0.12em 0 red, 0.15em 0 red, -0.15em 0 red;
      background-color: red;
      color: #fff; }
    nav a:hover:before, nav a:hover:after, nav a:hover *, nav a:hover *:before, nav a:hover *:after {
      text-shadow: none; }

/*********
::::::::::
Page specific rules
::::::::::
*********/
.page-number {
  margin-top: 20px;
  margin-left: -40px;
  padding-left: 4px;
  list-style: none;
  background: teal;
  color: white; }

/*# sourceMappingURL=style.css.map */
