/*
CONTENT
    - Variables
    - Mixins
    - Style
        - Body, html, *
        - Wraps & containers
        - Misc
        - Navigation
        - Text
        - Forms
        - Other elements
        - Page specific rules
 */


/*********
----------
Variables
----------
*********/

$max-width: 768px;
$background: white;
$text-color: black;
$link-color: blue;
$link-color-hover: red;

/*********
----------
Mixins
----------
*********/

@mixin textShadowToCropUnderline($background) {
    text-shadow: .03em 0 $background, -.03em 0 $background, 0 .03em $background, 0 -.03em $background, .06em 0 $background, -.06em 0 $background, .09em 0 $background, -.09em 0 $background, .12em 0 $background, -.12em 0 $background, .15em 0 $background, -.15em 0 $background;
}

@mixin createUnderline($color) {
    color: $color;
    text-decoration: none;
    @include textShadowToCropUnderline($background);
    background-image: linear-gradient($background, $background), linear-gradient($background, $background), linear-gradient($color, $color);
    background-size: .05em 1px, .05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: 0% 90%, 100% 90%, 0% 90%;
    &::selection {
        @include textShadowToCropUnderline($color);
        background-color: $color;
        color: #fff;
    }
    &::-moz-selection {
        @include textShadowToCropUnderline($color);
        background-color: $color;
        color: #fff;
    }
    &:before, &:after, *, *:before, *:after {
        text-shadow: none;
    }
}


/*****************************************************************************************
------------------------------------------------------------------------------------------
                                        Style
------------------------------------------------------------------------------------------
*****************************************************************************************/


/*********
::::::::::
Body, html, * 
::::::::::
*********/

html, input, button {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.618;
}

body {
    overflow-y: scroll;
}

* {
    box-sizing: border-box;
}


/*********
::::::::::
Wraps & Containers
::::::::::
*********/

// Top container
.wrap, nav {
    max-width: $max-width;
    margin: 0 auto;
}

// Column layout
.layout {
    // Keep element from collapsing, without overflow:hidden;
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    // All columns float
    & > * {
        display: block;
        float: left;
    }
    & .tenth, & ._10 {
        width: 10%;
    }
    & .fifth, & ._20 {
        width: 20%;
    }
    & .fourth, & ._25 {
        width: 25%;
    }
    & .third, & ._33 {
        width: (100% / 3);
    }
    & .half, & ._50 {
        width: 50%;
    }
    & .two-thirds, & ._66 {
        width: (100% / 3) * 2;
    }
    & .three-fourths, & ._75 {
        width: 75%;
    }
    & .four-fifths, & ._80 {
        width: 80%;
    }
    & .nine-tenths, & ._90 {
        width: 90%;
    }
    & .full, & ._100 {
        width: 100%;
    }
}


/*********
::::::::::
Misc
::::::::::
*********/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-button:vertical:increment, ::-webkit-scrollbar-button:vertical:decrement {
    display: none;
}

::-webkit-scrollbar-track {}

::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
}


/*********
::::::::::
Navigation
::::::::::
*********/

nav a {
    color: blue;
    text-decoration: none;
    &:hover {
        color: purple;
    }
}

/*********
::::::::::
Forms
::::::::::
*********/


/*********
::::::::::
Other elements
::::::::::
*********/


/*********
::::::::::
Page specific rules
::::::::::
*********/

// Home
body {
    background: #eee;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 26px;
    color: #333;
}

h3, .page-number {
    padding: 8px 16px;
    color: #E37E74;
    font-weight: 100;
    font-size: 18px;
    font-style: italic;
    font-family: monospace;
    letter-spacing: 1px;
    background: #333;
    border-radius: 3px;
}

article {
    margin: 50px 0;
    padding: 8px;
    background: #fff;
    border-radius: 3px;
}

h3 + article {
    margin-top: 0;
}

code {
    padding: 4px 8px;
    color: #eee;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 1px;
    background: #333;
    border-radius: 4px;
}

.description {
    color: #333;
    font-size: 16px;
    font-family: monospace;
}

.parameters, .parameters * {
    font-size: 16px;
    font-family: monospace;
}

.parameters table {
    border-collapse: collapse;
    font-style: italic;
}

.parameters.with-return tr:last-child td {
    padding-top: 1.618em;
}

.parameters td {
    padding-right: 20px;
}

.parameters td:nth-child(1) {
    color: #424242;
    font-weight: bold;
    font-style: italic;
}

.parameters td:nth-child(2) {}

// Blogg
.page-number {
    margin: 20px 0;
    margin-left: -40px;
    list-style: none;
}

#posts li a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}