
	<h1>Quick Fox Jumped Over The Pond</h1>
	
	<div class="post">
		<p>
		<i>Nattklubben</i> Pulse i Orlando utsattes vid 02.00-tiden lokal tid för skottlossning, 
		enligt flera nyhetssajter. På Facebook vittnar också besökare på Pulse, 
		som uppges vara en gayklubb, om attacken.
		</p>

		<p>
		”Skytten öppnade eld vid tvåtiden på natten. Människorna på dansgolvet och 
		vid baren kastade sig ned på golvet och några av oss som var i närheten av 
		baren lyckades ta oss ut via gården och bara sprang”, skriver en man på klubbens Facebook-sida.
		</p>

		<p>
		Även klubben lade ut ett meddelande om att ”Alla på Pulse, ta er ut och fortsätt att springa härifrån”.
		</p>

		<p>
		Enligt <a href="http://www.bbc.com/">BBC</a>, som hänvisar till uppgifter från en lokal reporter, kan ett 20-tal 
		personer ha träffats av kulor, och det finns videoupptagningar som ska visa skadade 
		personer som dras ut på bårar, samt en mängd med räddningsfordon på platsen.
		</p>
	</div>

	<table>
		<tr>
			<td><button>Primary</button></td>
			<td><button>Secondary</button></td>
			<td><button>Alternate</button></td>
		</tr>
	</table>

	<table>
		<tr>
			<td><input placeholder="Input"></td>
		</tr>
	</table>
</div>