<div class="wrap">
	<div class="row">
		<div class="col col-50">
			<div class="tomato"></div>
		</div>
		<div class="col col-50">
			<p>
				Solen skiner från en klarblå himmel och trots att de internationella storstjärnorna 
				passerar revy en efter en under presskonferensen inför kvällens Bauhaus-gala på Stadion, 
				så är det ändå en 35-årig mamma från Falun, alla vill träffa.
			</p>
			
			<p>
				Bredvid henne på podiet sitter 23-åriga Kendra Harrison från Kentucky i USA, 
				som för mindre än en månad sedan var nära att slå det 28 år 
				gamla världsrekordet på 100 meter häck.
			</p>
			
			<p>
				I Eugene i USA sprang hon på 12,24, bara tre tiondelar över 
				bulgariskan Jordanka Donkovas rekord från 1988.
			</p>
		</div>
	</div>
</div>