<div class="wrap home">

	<div class="row">
		<div class="col col-50">
		</div>

		<div class="col col-50">
			<p>
				Jag gör hemsidor.
			</p>
			
			<p>
				Bredvid henne på podiet sitter 23-åriga Kendra Harrison från Kentucky i USA, 
				som för mindre än en månad sedan var nära att slå det 28 år 
				gamla världsrekordet på 100 meter häck.
			</p>
			
			<p>
				I Eugene i USA sprang hon på 12,24, bara tre tiondelar över 
				bulgariskan Jordanka Donkovas rekord från 1988.
			</p>
		</div>
	</div>
	
	<div class="row">
		<h3>Några av mina projekt.</h3>
		
		<div class="col col-50"></div>
		<div class="col col-50">
			<ul>
				<li><a href="">Volt</a></li>
				<li><a href="">Galinas</a></li>		
				<li><a href="">Snösvängen</a></li>
			</ul>
		</div>
	</div>

</div>