<h3>
    Login
</h3>
<form action="/auth/login" method="post">
    <table style="margin-bottom: 16px;">
        <tr>
            <td>
                <label for="username">
                    Username
                </label>
            </td>
            <td>
                <input id="username" name="username"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="password">
                    Password
                </label>
            </td>
            <td>
                <input id="password" name="password"/>
            </td>
        </tr>
    </table>
    <input type="submit" value="Login">
</form>