
<h1>shll</h1>

<p>Framework for SPA.</p>

<article>
	<span class="parameters">
		<i>Route object</i>
		<table>
			<tr><td>path</td>		<td>String</td>		<td>URI to look for</td></tr>
			<tr><td>title</td>		<td>String</td>		<td>Title which will be set on render</td></tr>
		    <tr><td>template</td>	<td>String</td>		<td>Path to html template to be rendered</td></tr>
		    <tr><td>callback</td>	<td>Function</td>	<td>Function to be fired off when page has been rendered</td></tr>
		    <tr><td>offload</td>	<td>Function</td>	<td>Function to be called when exiting route</td></tr>
		    <tr><td>force</td>		<td>Boolean</td>	<td>Force reload of template</td></tr>
		</table>
	</span>
</article>

<section id="api">
	<h2>API</h2>
</section>