<h1>Page title</h1>
<h2>Page section</h2>

<h3>Form</h3>

<form>
	<label for="username">Username</label>
	<input type="text" id="username" name="username">

	<label for="email">Email</label>
	<input type="text" id="email" name="email">

	<label for="password">Password</label>
	<input type="password" id="password" name="password">

	<div class="btn-group">
		<button>Button</button>
		<input type="submit" name="submit" value="Submit">
	</div>
</form>

<table>
	<tr><th>Name</th>		<th>Type</th>		<th>Description</th></tr>
	<tr><td>path</td>		<td>String</td>		<td>URI to look for</td></tr>
	<tr><td>title</td>		<td>String</td>		<td>Title which will be set on render</td></tr>
    <tr><td>template</td>	<td>String</td>		<td>Path to html template to be rendered</td></tr>
    <tr><td>callback</td>	<td>Function</td>	<td>Function to be fired off when page has been rendered</td></tr>
    <tr><td>offload</td>	<td>Function</td>	<td>Function to be called when exiting route</td></tr>
    <tr><td>force</td>		<td>Boolean</td>	<td>Force reload of template</td></tr>
</table>

<h3>Paragraph</h3>

<p>Det är en dålig idé att försöka att återhämta sig på helgen. 
Tvärtom riskerar det att bara göra saken värre, enligt sömnexperten 
Bjørn Bjorvatn, vid det norska kompetenscentret för sömnsjukdom.
”Det mesta var inte bättre förr, men jag undrar om inte liberalerna var det”, 
skriver Jonas Sjöstedt på sitt twitterkonto. Intill syns den nu 
25 år gamla bilden som visar hur Folkpartiets dåvarande partiledare 
Bengt Westerberg reser sig upp i tv-studion och lämnar 1991 års 
valvaka som en markering mot Ny Demokratis intåg i Sveriges riksdag.</p>

<h3>Lists</h3>

<ul>
	<li>List item</li>
	<li>Another item</li>
	<li>Bananer</li>
	<li>Äpplen</li>
</ul>

<ol>
	<li>List item</li>
	<li>Another item</li>
	<li>Bananer</li>
	<li>Äpplen</li>
</ol>

