<h1><a href="admin">Admin</a> | Register new admin</h1>

<div class="form" async_form uri="/auth/register" method="post">
	<div class="layout">
		<div class="half padding-right">
		    <label for="username">Username</label>
		    <input id="username" name="username"/>
		</div>
		<div class="half padding-left">
		    <label for="password">Password</label>
		    <input id="password" name="password"/>
	    </div>
	</div>

	<input type="hidden" name="csrf_token">

    <div class="btn-group">
		<input type="submit" value="Register">
    </div>
</div>